<div class="tituloConteudoPaginas" id="tituloFuncCadastrados">
        <h4>Perfil</h4>
</div>

<hr class="line3" />
<br>
<br>
<form [formGroup]="formulario">
        <div class="conteudoPageDetalhes">
                <div id="conteudoLabelsFuncInfo">
                        <div id="ConteudoIdInputInfo">
                                <div class="form-row">
                                        <div class="conteudoDivColunaInfo inputInfoFunc inputInfoID">
                                                <label><b> ID:</b> {{usuarioInfo.idUsuario}}</label>

                                        </div>
                                </div>
                        </div>
                        <br>
                        <div class="form-row">
                                <div class="col-3 conteudoDivColunaInfo inputInfoFunc">
                                        <label><b> Nome:</b></label>
                                        <input class="form-control contaudoInputInfo" name="nome" formControlName="nome"
                                                type="text" value="{{usuarioInfo.nome}}">

                                </div>
                                <div class="col-3 conteudoDivColunaInfo inputInfoFunc">
                                        <label><b> Sobrenome:</b></label>
                                        <input class="form-control contaudoInputInfo" formControlName="sobrenome"
                                                type="text" value="{{usuarioInfo.sobrenome}}">
                                </div>
                        </div>
                        <br>
                        <div class="form-row">
                                <div class="col-3 conteudoDivColunaInfo inputInfoFunc">
                                        <label><b> Login:</b></label>
                                        <input class="form-control contaudoInputInfo" formControlName="login"
                                                type="text" value="{{usuarioInfo.login}}">
                                </div>
                                <div class="col-3 conteudoDivColunaInfo inputInfoFunc">
                                        <label><b> Senha:</b></label>
                                        <input class="form-control contaudoInputInfo" formControlName="senha"
                                                type="text" value="{{usuarioInfo.senha}}">
                                </div>
                        </div>
                        <br>
                        <div class="form-row">
                                <div class="col-3 conteudoDivColunaInfo inputInfoFunc">
                                        <label><b> Email:</b></label>
                                        <input class="form-control contaudoInputInfo" formControlName="email"
                                                type="text" value="{{usuarioInfo.email}}">
                                </div>
                                <div class="col-3 conteudoDivColunaInfo  inputInfoFunc">
                                        <label><b> Facebook:</b></label>
                                        <input class="form-control contaudoInputInfo" formControlName="facebook"
                                                type="text" value="{{usuarioInfo.facebook}}">
                                </div>
                        </div>
                        <br>
                        <div class="form-row">
                                <div class="col-3 conteudoDivColunaInfo inputInfoFunc">
                                        <label><b> Whatsapp:</b></label>
                                        <input class="form-control contaudoInputInfo" formControlName="whatsapp"
                                                type="text" value="{{usuarioInfo.hasWhatsapp}}">
                                </div>
                                <div class="col-3 conteudoDivColunaInfo inputInfoFunc">
                                        <label><b> Telefone:</b></label>
                                        <input class="form-control contaudoInputInfo" formControlName="telefone"
                                                type="text" value="{{usuarioInfo.telefone}}">
                                </div>
                        </div>
                        <br>
                        <div class="form-row">
                                <div class="col-3 conteudoDivColunaInfo inputInfoFunc">
                                        <label><b>Profissão::</b></label>
                                        <input class="form-control contaudoInputInfo" formControlName="profissao"
                                                type="text" value="{{usuarioInfo.profissao}}">
                                </div>
                                <div class="col-3 conteudoDivColunaInfo inputInfoFunc" >
                                        <label><b>Experiência::</b></label>
                                        <select name="experiencia" formControlName="experiencia" ngDefaultControl
                                                class="form-control form-control-sm-3 estiloCampos" >
                                                <option *ngFor="let experiencia of experiencias"
                                                [selected]="experiencia.tempo === usuarioInfo.experiencia.tempo"
                                                [value]="experiencia.idExperiencia" >
                                                        {{experiencia.tempo}}
                                                </option>
                                        </select>
                                </div>
                        </div>
                        <br>
                        <div class="form-row">
                                <div class="col-3 conteudoDivColunaInfo inputInfoFunc">
                                        <label><b>CPF:</b></label>
                                        <input class="form-control contaudoInputInfo" formControlName="cpf_cnpj"
                                                type="text" value="{{usuarioInfo.cpf_cnpj}}">
                                </div>
                                <div class="col-3 conteudoDivColunaInfo inputInfoFunc" >
                                        <label><b>Estado:</b></label>
                                        <select  name="estado" formControlName="estado" ngDefaultControl 
                                                class="form-control form-control-sm-3 estiloCampos"
                                                (change)="getCitiesWithIdState($event.target.value)">    

                                                <option *ngFor="let estado of states" 
                                                [selected]="estado.nome_estado == usuarioInfo.estado.nome_estado"
                                                [value]="estado.id_estado">
                                                        {{estado.nome_estado}}
                                                </option>
                                        </select>
                                </div>
                        </div>
                        <br>
                        <div class="form-row" >
                                <div class="col-3 conteudoDivColunaInfo inputInfoFunc" >
                                        <label><b>Cidade:</b></label>
                                        <select name="cidade" formControlName="cidade" ngDefaultControl
                                                class="form-control form-control-sm-3 estiloCampos" >
                                                
                                                <option *ngFor="let cidade of cities" 
                                                [selected]="cidade.nome_cidade == usuarioInfo.cidade.nome_cidade
                                                || 'Selecione'"
                                                [value]="cidade.id_cidade">                                           
                                                        {{cidade.nome_cidade}}
                                                </option>           
                                        </select>
                                </div>
                                <div class="col-3 conteudoDivColunaInfo inputInfoFunc">
                                        <label><b>Endereço:</b></label>
                                        <input class="form-control contaudoInputInfo" formControlName="endereco"
                                                type="text" value="{{usuarioInfo.endereco}}">
                                </div>
                        </div>
                        <br>
                        <div class="form-row">
                                <div class="col-3 conteudoDivColunaInfo inputInfoFunc">
                                        <label><b>Complemento:</b></label>
                                        <input class="form-control contaudoInputInfo" formControlName="complemento"
                                                type="text" value="{{usuarioInfo.complemento}}">
                                </div>
                                <div class="col-3 conteudoDivColunaInfo inputInfoFunc">
                                        <label><b>CEP:</b></label>
                                        <input class="form-control contaudoInputInfo" formControlName="cep" type="text"
                                                value="{{usuarioInfo.cep}}">
                                </div>
                        </div>
                        <br>
                        <div class="form-row">
                                <div class="col-3 conteudoDivColunaInfo inputInfoFunc">
                                        <label><b>Avaliação / Média:</b></label>
                                        <input class="form-control contaudoInputInfo" formControlName="avaliacao"
                                                type="text" value="{{usuarioInfo.avaliacao.mediaAvaliacao}}">
                                </div>
                                <div class="col-3 conteudoDivColunaInfo inputInfoFunc">
                                        <label><b>Sexo:</b></label>
                                        <input class="form-control contaudoInputInfo" formControlName="sexo" type="text"
                                                value="{{usuarioInfo.sexo}}">
                                </div>
                        </div>
                        <br>
                        <br>
                </div>
        </div>
</form>

<!-- Modal para confirmar a EXCLUSÃO de funcionário-->
<div class="modal" tabindex="-1" role="dialog" id="confirmExcluir">
        <div class="modal-dialog" role="document">
                <div class="modal-content modalExcluirFunc" id="modalBodyInfoExcluir">
                        <div class="modal-header">
                                <h5 class="modal-title">Excluir Funcionário</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                        <span aria-hidden="true">&times;</span>
                                </button>
                        </div>
                        <div class="modal-body">
                                <p>Tem certeza que deseja excluir esse funcionário?</p>
                        </div>
                        <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Voltar</button>
                                <button type="button" class="btn btn-primary" data-dismiss="modal" id="confirmExcluir"
                                        (click)="excluirConta(usuarioInfo.idUsuario)">Excluir</button>

                        </div>
                </div>
        </div>
</div>

<!-- Modal para a EDIÇÂO de funcionário-->
<div class="modal" tabindex="-1" role="dialog" id="editarFuncionario">
        <div class="modal-dialog" role="document">
                <div class="modal-content" id="modalBodyInfoAtualizar">
                        <div class="modal-header">
                                <h5 class="modal-title">Atualizar Funcionário</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                        <span aria-hidden="true">&times;</span>
                                </button>
                        </div>
                        <div class="modal-body">
                                <p>Tem certeza que deseja atualizar esse funcionário?</p>
                        </div>
                        <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Voltar</button>
                                <button type="button" class="btn btn-primary" (click)="atualizar()">Atualizar</button>
                        </div>
                </div>
        </div>
</div>
<br>

<!-- Criando um campo para colocar foto -->
<div id="conteudoFotoPerfil">
        <img src="../../../assets/img/funcionario/photo-here.jpg" alt="Smiley face" width="180" height="250">
</div>
<span class="editarFotoPerfil"><a>Editar foto</a></span>
<!--
<input type="file" (change)="onFileSelected($event)">
-->
<br>

<!--Botões de integração do Patrão para o funcionário-->
<div class="botoesInfoPerfil">
        <div id="botaoEditarPerfil">
                <button type="button" class="btn btn-outline-info" *ngIf="editingFields" (click)="editarCamposPerfil()">
                        Editar Perfil</button>
        </div>
        <div id="botaoHistoricoPerfil">
                <button type="button" class="btn btn-outline-info" *ngIf="editingFields">Histórico profissional</button>
        </div>
        <div id="botaoCalendárioPerfil">
                <button type="button" class="btn btn-outline-info" *ngIf="editingFields" data-toggle="modal"
                        data-target="#modalCalendar"> Calendário</button>
        </div>

        <div id="botaoSalvarAlteracao">
                <button type="button" class="btn btn-outline-info" *ngIf="!editingFields"
                        (click)="salvarAlteracao(formulario.value)"> Salvar
                        Altetração</button>
        </div>
        <div id="botaoCancelarAlteracao">
                <button type="button" class="btn btn-outline-info" *ngIf="!editingFields"
                        (click)="cancelarAlteracaoPerfil()">
                        Cancelar Alteração</button>
        </div>
        <div class="botaoVoltarInfoPerfil">
                <button type="button" class="btn btn-outline-info" [routerLink]="['/home']">Voltar</button>
        </div>
        <div class="botaoVoltarInfoPerfil">
                <button type="button" class="btn btn-outline-info" data-toggle="modal"
                        data-target="#confirmExcluir">Excluir conta</button>
        </div>
</div>

<div class="botoesEditarPerfil">
        <!--
        <div id="botaoSalvarAlteracao">
                <button type="button" class="btn btn-light"> Salvar Altetração</button>
        </div>
        <div id="botaoCancelarAlteracao">
                <button type="button" class="btn btn-light"> Cancelar Altetração</button>
        </div>
        -->
</div>

<div class="avaliacoesPerfil">
        <p>Compromisso: {{usuarioInfo.avaliacao.compromisso}}</p>
        <p>Organização: {{usuarioInfo.avaliacao.organizacao}}</p>
        <p>Disciplina: {{usuarioInfo.avaliacao.disciplina}}</p>
        <p>Limpeza: {{usuarioInfo.avaliacao.limpeza}}</p>
        <p>Media: {{usuarioInfo.avaliacao.mediaAvaliacao}}</p>
</div>


<br>
<br>
<div class="chatMessageWindow" *ngIf="chatActivated" (click)="teste()">
        <app-chat-message></app-chat-message>
</div>
<br>
<br>
<!-- Modal Calendário -->
<div class="modal" tabindex="-1" role="dialog" id="modalCalendar">
        <div class="modal-dialog" role="document">
                <div class="modal-content">
                        <div class="modal-header cabecalho-modal">
                                <!--  <p>Calendário</p>-->
                                <h5 class="modal-title calendar-modal">Calendário</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                        <span aria-hidden="true">&times;</span>
                                </button>
                        </div>
                        <div class="modal-body">

                                <app-calendar></app-calendar>

                        </div>
                        <div class="modal-footer">


                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                                <button type="button" class="btn btn-primary">Salvar mudanças</button>

                        </div>
                </div>
        </div>
</div>