<h2>Detalhes do Funcionário</h2> 

<h4>Aqui será um modal - PopUp</h4>
<hr/>
<!--
<div *ngIf="funcionario">
  -->
<div>
  <div>
    <label><b>Primeiro Nome: </b></label><!-- {{funcionario.nome}}-->
  </div>
  <div>
    <label><b>Último Name: </b></label><!-- {{funcionario.sobrenome}}-->
  </div>
  <div>
    <label><b>Email Id: </b></label><!-- {{funcionario.email}}-->
  </div>  
</div>

<br>
<br>
<button  [routerLink]="['/funcionarios-cadastrados']" class="btn btn-secondary">Voltar </button><br>