<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="conteudoPesquisa">
                <!--Título da página / formulário-->
                <div class="tituloConteudoPaginas">
                    <h3>{{titulo}}</h3>
                </div>
                <hr class="line3" />
                <br>
                <div class="conteudoFormularioPesquisar">
                    <form class="form-inline" id="formPesquisaCampos" [formGroup]="formulario" (ngSubmit)="pesquisar()">

                        <div class="form-row" id="camposFormPesquisa">
                            <div class="col-6" id="textoLabelPadrao">
                                <b>Nome</b>
                                <input type="text" class="form-control estiloCampos" id="campoNomePesquisar"
                                    formControlName="nome" name="nome" ngDefaultControl placeholder="Nome">
                                <p>(Insira entre 3 a 15 caracteres)</p>
                            </div>
                            <br>
                            <div class="col-6" id="textoLabelPadrao">
                                <b>Sobrenome</b>
                                <input type="text" class="form-control estiloCampos" id="campoSobreNomePesquisar"
                                    formControlName="sobrenome" name="sobrenome" ngDefaultControl
                                    placeholder="Sobrenome">
                                <p>(Insira entre 3 a 40 caracteres)</p>
                            </div>
                            <br>
                            <div class="col-3" formControlName="estado" name="estado" ngDefaultControl
                                id="textoLabelPadrao">
                                <b>Estado</b>
                                <select class="form-control form-control-sm-3 estiloCampos" id="campoEstadoPesquisar">
                                    <option *ngFor="let estado of estados" ngValue="estados.id">
                                        {{estado.nome}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-3" id="textoLabelPadrao">
                                <b>Cidade</b>
                                <input type="text" class="form-control estiloCampos" placeholder="Cidade"
                                    id="campoCidadePesquisar" formControlName="cidade" name="cidade" ngDefaultControl>
                                <p>(Insira até 15 caracteres)</p>
                            </div>
                            <div class="col-3" formControlName="experiencia" id="textoLabelPadrao" name="experiencia"
                                ngDefaultControl>
                                <b>Experiencia</b>
                                <select class="form-control form-control-sm-3 estiloCampos"
                                    id="campoExperienciaPesquisar">
                                    <option *ngFor="let experiencia of experiencias" ngValue="experiencias.id">
                                        {{experiencia.nome}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-3" formControlName="avaliacao" name="avaliacao" id="textoLabelPadrao"
                                ngDefaultControl>
                                <b>Avaliacao</b>
                                <select class="form-control form-control-sm-3 estiloCampos" id="campoSexoPesquisar">
                                    <option *ngFor="let avaliacao of avaliacoes" ngValue="sexo.id">
                                        {{avaliacao.nome}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <!--Botões limpar e pesquisar -->
                        <div class="botoesPesquisar">
                            <button type="button" class="btn btn-secondary" id="btnLimparPesquisa"
                                (click)="limparCampos()">Limpar</button>
                            <button type="submit" class="btn btn-secondary" id="btnEnviarPesquisa"
                                [disabled]="formulario.invalid">Pesquisar</button>
                        </div>
                    </form>
                </div>
                <!-- Tabela de resultados da pesquisa-->
                <div class="tabelaProfissionais">
                    <table id="tabelaProfissionais">
                        <thead>
                            <tr class="tabelaPesquisaFunc">
                                <th class="labelTabelaPesquisa" scope="col"><strong>Nome</strong></th>
                                <th class="labelTabelaPesquisa" scope="col"><strong>Sobrenome</strong></th>
                                <th class="labelTabelaPesquisa" scope="col"><strong>Estado</strong></th>
                                <th class="labelTabelaPesquisa" scope="col"><strong>Cidade</strong></th>
                                <th class="labelTabelaPesquisa" scope="col"><strong>Sexo</strong></th>
                                <th class="labelTabelaPesquisa" scope="col"><strong>Avaliação</strong></th>
                                <th class="labelTabelaPesquisa" scope="col"><strong>Ranking</strong></th>
                                <th class="labelTabelaPesquisa" scope="col"><strong>&nbsp;</strong></th>
                            </tr>
                        </thead>
                        <tbody class="corpotabelaPesquisa">
                            <tr class="classTr" id="listaFuncionariotabela" *ngFor='let user of usuarios'>
                                <td class="contentCells">{{user.nome}}</td>
                                <td class="contentCells">{{user.sobrenome}}</td>
                                <td class="contentCells">{{user.estado}}</td>
                                <td class="contentCells">{{user.cidade}}</td>
                                <td class="contentCells">{{user.sexo}}</td>
                                <td>
                                    <app-rating-template></app-rating-template>

                                </td>
                                <td>&nbsp; &nbsp; 1</td>
                                <td>
                                    <a id="btnInfoFuncionario" (click)="infoFuncionario(user)">
                                        <span class="badge badge-info">
                                            Info
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>



            </div>
        </div>
    </div>

    <!-- PAginação-->
    <!--
            <div class="form-row">
                <div class="form-group col-md-9">
                   <div class="col-md-6">
                        <div class="paginacaoProfissionais">
                                <div>
                                    <ul class="pagination pagination-sm">
                                    <li class="page-item disabled">
                                        <a class="page-link" [routerLink]="['/pesquisar']">&laquo;</a>
                                    </li>
                                    <li class="page-item active">
                                        <a class="page-link" [routerLink]="['/pesquisar']">1</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" [routerLink]="['/pesquisar']">2</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" [routerLink]="['/pesquisar']">3</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" [routerLink]="['/pesquisar']">4</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" [routerLink]="['/pesquisar']">5</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" [routerLink]="['/pesquisar']">&raquo;</a>
                                    </li>
                                    </ul>
                                </div>
                          </div>
                        </div>
                </div>   
        </div>    
        -->
</div>