<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="conteudoPesquisa">
                <!--Título da página / formulário-->
                <div class="tituloConteudoPaginas">
                    <h3>{{titulo}}</h3>
                </div>
                <hr class="line3" />
                <br>
                <div class="conteudoFormularioPesquisar">
                    <form class="form-inline" id="formPesquisaCampos" [formGroup]="formulario" (ngSubmit)="pesquisar()">

                        <div class="form-row" id="camposFormPesquisa">
                            <div class="col-6" id="textoLabelPadrao">
                                <b>Nome</b>
                                <input type="text" class="form-control estiloCampos" id="campoNomePesquisar"
                                    formControlName="nome" name="nome" ngDefaultControl placeholder="Nome">
                                <p>(Insira entre 3 a 15 caracteres)</p>
                            </div>
                            <br>
                            <div class="col-6" id="textoLabelPadrao">
                                <b>Sobrenome</b>
                                <input type="text" class="form-control estiloCampos" id="campoSobreNomePesquisar"
                                    formControlName="sobrenome" name="sobrenome" ngDefaultControl
                                    placeholder="Sobrenome">
                                <p>(Insira entre 3 a 40 caracteres)</p>
                            </div>
                            <br>
                            <div class="col-3" formControlName="estado" name="estado" ngDefaultControl
                                id="textoLabelPadrao">
                                <b>Estado</b>
                                <select class="form-control form-control-sm-3 estiloCampos"
                                    (change)="getCities($event.target.value)" id="campoEstadoPesquisar">
                                    <option>Selecione</option>
                                    <option *ngFor="let estado of states" [value]="estado.id_estado">
                                        {{estado.nome_estado}}
                                    </option>
                                </select>
                                <p>* Campo Obrigatório</p>
                            </div>
                            <div class="col-3" id="textoLabelPadrao" >
                                <b>Cidade</b>
                                <select  formControlName="cidade" name="cidade" ngDefaultControl 
                                    class="form-control form-control-sm-3 estiloCampos" id="campoCidadePesquisar">
                                    <option>Selecione</option>
                                    <option *ngFor="let cidade of cities" [value]="cidade.id_cidade">
                                        {{cidade.nome_cidade}}
                                    </option>
                                </select>
                                <p>* Campo Obrigatório</p>
                            </div>                          
                            <div class="col-3" formControlName="star" name="avaliacao" id="textoLabelPadrao"
                                ngDefaultControl>
                                <b>Avaliação / Estrelas</b>
                                <select class="form-control form-control-sm-3 estiloCampos" id="campoAvaliacaoPesquisar">
                                    <option>Selecione</option>
                                    <option *ngFor="let star of allStars" ngValue="star.id_star">
                                        {{star.valor_star}} - {{ star.nome_star}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-3" formControlName="experiencia" id="textoLabelPadrao" name="experiencia"
                            ngDefaultControl>
                            <b>Experiencia</b>
                            <select class="form-control form-control-sm-3 estiloCampos"
                                id="campoExperienciaPesquisar">
                                <option>Selecione</option>
                                <option *ngFor="let experiencia of experiencias" ngValue="experiencia.tempo">
                                    {{experiencia.tempo}}
                                </option>
                            </select>
                        </div>
                        </div>
                        <!--Botões limpar e pesquisar -->
                        <div class="botoesPesquisar">
                            <button type="button" class="btn btn-secondary" id="btnLimparPesquisa"
                                (click)="limparCampos()">Limpar</button>
                            <button type="submit" class="btn btn-secondary" id="btnEnviarPesquisa"
                                [disabled]="formulario.invalid">Pesquisar</button>
                        </div>
                    </form>
                </div>
                <!-- Tabela de resultados da pesquisa-->
                <div class="tabelaProfissionais">
                    <table id="tabelaProfissionais">
                        <thead>
                            <tr class="tabelaPesquisaFunc">
                                <th class="labelTabelaPesquisa" scope="col"><strong>Nome</strong></th>
                                <th class="labelTabelaPesquisa" scope="col"><strong>Sobrenome</strong></th>
                                <th class="labelTabelaPesquisa" scope="col"><strong>Estado</strong></th>
                                <th class="labelTabelaPesquisa" scope="col"><strong>Cidade</strong></th>
                                <th class="labelTabelaPesquisa" scope="col"><strong>Sexo</strong></th>
                                <th class="labelTabelaPesquisa" scope="col"><strong>Avaliação</strong></th>
                                <th class="labelTabelaPesquisa" scope="col"><strong>Experiência</strong></th>
                                <th class="labelTabelaPesquisa" scope="col"><strong>&nbsp;</strong></th>
                            </tr>
                        </thead>
                        <tbody class="corpotabelaPesquisa">
                            <tr class="classTr" id="listaFuncionariotabela" *ngFor='let user of pageOfItems'>
                                <td class="contentCells">{{user.nome}}</td>
                                <td class="contentCells">{{user.sobrenome}}</td>
                                <td class="contentCells">{{user.estado.nome_estado}}</td>
                                <td class="contentCells">{{user.cidade.nome_cidade}}</td>
                                <td class="contentCells">{{user.sexo}} </td>
                                <td data-toggle="modal" data-target="#modalRating">
                                    <ngb-rating [(rate)]="user.stars.valor_star" max="5">
                                        <ng-template let-fill="fill" let-index="index">
                                        <span class="starPesquisa" [class.filledPesquisa]="fill === 100" >&#9733; </span>
                                        </ng-template>
                                    </ngb-rating>
                                    <pre>Média: <b>{{user.avaliacao.mediaAvaliacao}}</b></pre>
                                </td>
                                <td>{{user.experiencia.tempo}}</td>
                                <td>
                                    <a id="btnInfoFuncionario" (click)="infoFuncionario(user)">
                                        <span class="badge badge-info">
                                            Info
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

    <!-- Paginação-->
    <div class="paginacaoPesquisar">
        <jw-pagination [items]="usuarios" (changePage)="onChangePage($event)"></jw-pagination>
    </div>

</div>
