<div class="containerAll" [(ngModel)]="cadEmpregador" name="cadEmpregador" ngDefaultControl id="containerAllCadastro">
    <div class="tituloConteudoPaginas">
            <h3>Cadastro</h3>
            <h6>Empregador</h6>
    </div>
    <div class="containerFormContato">
            <div class="conteudoFormContato">
                    <form (ngSubmit)="salvar()" [formGroup]="formulario">
                            <div class="form-row" >
                                <div class="form-group col-md-4">
                                    <label for="inputNome">Nome</label>
                                    <input type="text" class="form-control" id="inputNome" formControlName="nome" ngDefaultControl placeholder="Seu nome">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputSobrenome">Sobrenome</label>
                                    <input type="text" class="form-control" id="inputSobrenome" formControlName="sobrenome" ngDefaultControl placeholder="Seu sobrenome">
                                </div>
                                <div class="form-group col-md-4">
                                        <label for="inputPassword4">CNPJ</label>
                                        <input type="text" class="form-control" id="inputCPF" formControlName="cnpj" ngDefaultControl placeholder="000.000.000-00">
                                </div>
                            </div>                    
                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <label for="inputUsuario">Usuário</label>
                                    <input type="text" class="form-control" id="inputUsuario"  formControlName="login" ngDefaultControl placeholder="Insira um usuário">
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="inputPassword4">Senha</label>
                                    <input type="password" class="form-control" id="inputPassword4" formControlName="senha"ngDefaultControl placeholder="Insira a sua senha">
                                </div>  
                                <div class="form-group col-md-3">
                                        <label for="inputEmail4">Email</label>
                                        <input type="email" class="form-control" id="inputEmail4" formControlName="email" ngDefaultControl placeholder="email@seuemail.com.br">
                                </div>                      
                                <div class="form-group col-md-3" formControlName="sexo" name="sexo" ngDefaultControl>
                                            <label for="labelRadioGenero">Sexo</label>
                                            <select id="radioGenero" class="form-control" >
                                                <option *ngFor="let sexo of sexos" ngValue="sexos.id">
                                                    {{sexo.nome}}
                                                </option>
                                            </select>
                                </div>
                            </div>  
                            <div class="form-row">
                                <div class="form-group col-md-8">
                                    <label for="inputEndereco">Endereço</label>
                                    <input type="text" class="form-control" id="inputEndereco" formControlName="endereco" ngDefaultControl placeholder="Endereço Residencial">
                                </div>
                                <div class="form-group col-md-4">
                                        <label for="inputComplemento2">Complemento</label>
                                        <input type="text" class="form-control" id="inputComplemento2" formControlName="complemento" ngDefaultControl placeholder="Complemento">
                                </div>
                            </div>                    
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputCity">Cidade</label>
                                    <input type="text" class="form-control" id="inputCity"  formControlName="cidade" ngDefaultControl placeholder="São Paulo">
                                </div>
                                <div class="form-group col-md-4" formControlName="estado" name="estado" ngDefaultControl>
                                    <label for="inputState">Estado</label>
                                    <select id="inputState" class="form-control" >
                                        <option *ngFor="let estado of estados" ngValue="estados.id">
                                            {{estado.nome}}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="inputCep">CEP</label>
                                    <input type="text" class="form-control" id="inputCep" formControlName="cep" ngDefaultControl placeholder="00000-000">
                                </div>
                            </div>   
                            <div class="form-group col-md-2" formControlName="residencia" name="residencia" ngDefaultControl>
                                    <label for="inpuResiencia">Residência</label>
                                    <select id="inpuResiencia" class="form-control" >
                                            <option *ngFor="let residencia of residencias" ngValue="residencias.id">
                                                {{residencia.nome}}
                                            </option>
                                        </select>
                            </div>
                            <div id="botoesCadastro">            
                                <button type="submit" class="btn btn-secondary" id="btnCadastrar" [disabled]="formulario.invalid"> Cadastrar</button>
                                <button type="submit" class="btn btn-secondary" id="btnLimpar" (click)="voltar()">Voltar</button>
                            </div>
                    </form>
            </div>
        </div>
    </div>