<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="conteudoPesquisa">
                <div class="tituloConteudoPaginas">
                    <h3>{{titulo}}</h3>
                </div>
                <hr class="line3">
                <br>
                <div>
                    <div class="conteudoFormAnuncio">
                        <form class="form-inline" id="formPesquisaCampos" [formGroup]="formulario"
                            (ngSubmit)="anunciar()">
                            <div class="form-row" id="camposFormAnuncie">
                                <div class="col-4" id="textoLabelPadrao">
                                    <b> ID - Nome</b>
                                    <input [readonly]="true" type="text" class="form-control estiloCampos"
                                        id="campoAnuncieVagasEmpregador" formControlName="nomeEmpregador" name="nome"
                                        ngDefaultControl placeholder="{{id}} - {{nameField}}">
                                </div>
                                <div class="col-4" id="textoLabelPadrao">
                                    <b>Título</b>
                                    <input type="text" class="form-control estiloCampos" id="campoAnuncievagaTitulo"
                                        formControlName="titulo" name="titulo" ngDefaultControl placeholder="Título">
                                    <p>(Insira entre 3 a 15 caracteres)</p>
                                </div>
                                <br>
                                <div class="col-4" id="textoLabelPadrao">
                                    <b>Subtítulo</b>
                                    <input type="text" class="form-control estiloCampos" id="campoAnuncioVagaSubtitulo"
                                        formControlName="subtitulo" name="subtitulo" ngDefaultControl
                                        placeholder="Subtítulo">
                                    <p>(Insira entre 3 a 40 caracteres)</p>
                                </div>
                                <br>
                                <div class="col-4" id="textoLabelPadrao">
                                    <b>Estado</b>
                                    <select class="form-control form-control-sm-3 estiloCampos" #state
                                        (change)="getCities($event.target.value)" id="campoEstadoVagas">
                                        <option>Selecione</option>
                                        <option *ngFor="let estado of states" [value]="estado.id_estado">
                                            {{estado.nome_estado}}
                                        </option>
                                    </select>
                                    <p>* Campo Obrigatório</p>
                                </div>

                                <div class="col-4"  id="textoLabelPadrao">
                                    <b>Cidade</b>
                                    <select name="cidade" formControlName="cidade" ngDefaultControl
                                        class="form-control form-control-sm-3 estiloCampos" #city
                                        id="campoCidadeVagas">
                                        <option value="Selecione" [selected]="'Selecione'" >Selecione</option>
                                        <option *ngFor="let cidade of cities" [value]="cidade.id_cidade">
                                            {{cidade.nome_cidade}}
                                        </option>
                                    </select>
                                    <p>* Campo Obrigatório</p>
                                </div>

                                <div class="col-4" id="textoLabelPadrao">
                                    <b>Telefone</b>
                                    <input type="text" class="form-control estiloCampos" id="campoAnuncievagastelefone"
                                        formControlName="telefone" name="telefone" ngDefaultControl
                                        placeholder="Telefone">
                                    <p>(Insira até 11 caracteres)</p>
                                </div>
                                <div class="col-12">
                                    <br>
                                    <label for="TextAreaMensagm" id="textoLabelAnuncieDesc">Descrição</label>
                                    <textarea class="form-control estiloCampos" #box (keyup)="0" id="TextAreaMensagm"
                                        rows="10" cols="200" formControlName="descricao" ngDefaultControl></textarea>
                                    <p>(Insira até {{caracteresMaximo - box.value.length}} caracteres)</p>
                                </div>
                            </div>
                            <!--Botões limpar e pesquisar -->
                            <div class="botoesAnunciar">
                                <button type="button" class="btn btn-secondary" id="btnLimparPesquisa"
                                    (click)="limparCampos()">Limpar</button>
                                <button type="submit" class="btn btn-secondary" id="btnEnviarPesquisa"
                                    [disabled]="formulario.invalid">Anunciar</button>
                                <br>
                                <br>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>