
<div class="container">  
        <div class="row">
            <div class="col-md-12">
                <div class="conteudoLegislacao">
                        <!--Título da página -->
                            <div class="tituloConteudoPaginas" id="tituloLegislacao">
                                    <h3>Legislação</h3>                                    
                            </div>
                            <hr/>
                            <div id="subTituloLegislacao">
                                    <h6>Informações e recomendações</h6>
                            </div>  
                            <br>
                                <p >
                                Os serviços prestados por diarista que comparece para o trabalho,alguns dias na semana,
                                não se confunde com o trabalho doméstico previsto na lei 5.859/72 ( revogada pela
                                Lei Complementar nº 150).
                                Abaixo estão as leis de cada profissão onde poderão ser acessadas direto do site do 
                                planalto ou baixadas clicando na opção Download.
                                </p>
                            <hr width="100%">
                            <div class="textoSecundarioLegislacao">
                                <p>Clique no link abaixo para saber mais sobre a lei que rege a sua profissão ou faça o download se preferir:</p>
                            </div>
                            <br>
                            <div class="conteudoLinkLegislacao">
                                <div class="form-row" id="legislacaoAncora">
                                   <div class="col-4" id="leisDiarista">
                                       <h6>Diarista</h6>
                                        <a style="text-decoration: underline" href="http://www.planalto.gov.br/ccivil_03/_Ato2004-2006/2006/Lei/L11324.htm" target="_blank">Lei nº 11.324 - Planalto
                                            </a>
                                        <br>    
                                        <a href="">Download</a>    
                                    </div>
                                    <div class="col-4" id="leisEmpregDom">  
                                        <h6>Empregada Doméstica</h6>                                      
                                        <a style="text-decoration: underline" href="http://www.planalto.gov.br/ccivil_03/leis/lcp/lcp150.htm" target="_blank">Lei Complementar nº 150 - Planalto
                                            </a>
                                        <br>
                                        <a href="">Download</a>   
                                    </div>                                    
                                 </div>
                            </div>
                            <br>
                            <br>
                            <hr width="100%">
                 <form id="formGridLegislacao"> 
                   <div class="tituloRecomendLegislacao">
                         <h5>Recomendações</h5>  
                   </div>         
                   <br>
                   <div class="conteudoGrids">       
                      <div class="form-row" >
                            <!--card-->
                            <div class="col-4">
                                <div class="card" id="cardProcon">
                                    <div class="card-body">
                                        <h5 class="card-title">Procon</h5>
                                        <p class="card-text">
                                                <p>Programa de Proteção e Defesa do Consumidor</p>
                                               <p> Responsável por ajudar a mediar os conflitos entre os consumidores e os fornecedores de produtos 
                                                e serviços.</p>
                                        <a href="https://www.procon.sp.gov.br/index.asp" target="_blank" class="btn btn-primary">Site Procon</a>
                                    </div>
                                </div>
                            </div>
                           <!--card-->
                           <div class="col-4">
                            <div class="card" id="cardDefensoria">
                                <div class="card-body">
                                        <h5 class="card-title">Defensoria SP</h5>
                                        <p class="card-text">instituição pública que oferece aos cidadãos e cidadãs vulneráveis, de forma integral e gratuita,
                                                a orientação jurídica, a promoção dos direitos humanos e a defesa,judicial e extrajudicialmente. .</p>
                                        <a href="https://www.defensoria.sp.def.br/dpesp/" target="_blank" class="btn btn-primary">Site Defensoria</a>
                                    </div>
                            </div>
                           </div>
                           &nbsp;
                           <!--card-->
                            <div class="col-3">
                                <div class="card" id="cardJusBrasil" ><div class="card-body">
                                            <h5 class="card-title">JusBrasil</h5>
                                            <p class="card-text">Um site que reúne ,de forma organizada, toda a informação jurídica brasileira.
                                            São bilhões de documentos, que vão desde decisões dos tribunais, passando por atos normativos, até artigos informativos e doutrinários</p>
                                            <a href="https://www.jusbrasil.com.br/home" target="_blank" class="btn btn-primary">Site JusBrasil</a>
                                        </div>
                                </div>
                            </div>                           
                        </div>
                    </div>  
                </form>         
                </div>
            </div>
        </div>
</div>