


<div class="container">  
    <div class="row">
        <div class="col-md-12">
            <div class="tituloConteudoPaginas" id="tituloVagasCadastradas">
                <!--<h3>Profissionais Cadastrados</h3>-->
                <h3>{{titulo}}</h3>
            </div>
            <hr/>
            <form class="form-inline" id="formPesquisaCampos" [formGroup]="formulario" (ngSubmit)="pesquisar()">
                
                    <div class="form-row" id="camposFormPesquisa">                               
                            <div class="col-6" id="textoLabelPadrao">
                                <b>Nome</b>
                              <input type="text" class="form-control" id="campoNome"  formControlName="nomeVaga" name="nomeVaga" ngDefaultControl placeholder="Nome da Vaga">
                            </div>
                            <br>
                            <div class="col-6"  id="textoLabelPadrao">
                              <b>Sobrenome</b>
                              <input type="text" class="form-control" id="campoSobreNome"  formControlName="assunto" name="assunto" ngDefaultControl placeholder="Assunto da vaga">
                            </div>
                            <br>
                            <div class="col-3"  id="textoLabelPadrao" formControlName="estado" name="ddlEstado" ngDefaultControl>
                              <b>Estado</b>
                                <select class="form-control form-control-sm-3"  id="campoEstadoOportunidades" >
                                        <option *ngFor="let estado of estados" ngValue="estados.id">
                                            {{estado.nome}}
                                        </option>
                                </select>
                             </div>
                            <div class="col-3">
                              <b>Cidade</b>
                              <input type="text"  id="textoLabelPadrao" class="form-control" placeholder="Cidade" id="campoCidade" formControlName="cidade" name="cidade" ngDefaultControl>
                            </div>
                            <div class="col-3"  id="textoLabelPadrao" formControlName="residencia" name="sexo" ngDefaultControl>
                                    <b>Residência</b>
                                    <select class="form-control form-control-sm-3" id="campoResidenciaOportunidades" >
                                            <option *ngFor="let residencia of residencias" ngValue="residencia.id">
                                            {{residencia.nome}}
                                            </option>
                                    </select>
                            </div>
                            <div class="col-3" id="textoLabelPadrao" formControlName="experiencia" name="experiencia" ngDefaultControl>
                                <b>Experiência    </b>
                                <select class="form-control form-control-sm-3" id="campoExperienciaOportunidades" >
                                            <option>Experiência</option>
                                            <option>Sim</option>
                                            <option>Não</option>
                                    </select>
                            </div>
                    </div>    
                    <!--Botões limpar e pesquisar -->
                    <div class="botoesPesquisar">   
                            <button type="button" class="btn btn-secondary" id="btnLimparPesquisa" (click)="limparCampos()" >Limpar</button>
                            <button type="submit" class="btn btn-secondary" id="btnEnviarPesquisa">Pesquisar</button>
                   </div>
               </form>
             </div>
             <div>
                    <div class="container">
                            <div class="card-columns d-flex justify-content-center">
                              <!--Card 01 linha 01-->
                              <div class="card" style="width: 18rem;">
                                    <div class="card-body">
                                      <h5 class="card-title">São Paulo</h5>
                                      <h6 class="card-subtitle mb-2 text-muted">Diarista</h6>
                                      <p class="card-text">Procura-se Diarista para limpeza semanal em condomínio de luxo .</p>
                                     <a href="#" class="card-link">Saber Mais</a>
                                    </div>
                                  </div>
                                  &nbsp;
                               <!--Card 02 linha 01-->
                               <div class="card" style="width: 18rem;">
                                    <div class="card-body">
                                      <h5 class="card-title">Rio de Janeiro</h5>
                                      <h6 class="card-subtitle mb-2 text-muted">Empregada Doméstica</h6>
                                      <p class="card-text">Procura-se Empregada Doméstica para limpeza diária em condomínio empresarial.</p>
                                       <a href="#" class="card-link">Saber Mais</a>
                                    </div>
                               </div>
                               &nbsp;
                                <!--Card 03 linha 01-->
                                <div class="card" style="width: 18rem;">
                                        <div class="card-body">
                                          <h5 class="card-title">Manaus</h5>
                                          <h6 class="card-subtitle mb-2 text-muted">Diarista</h6>
                                          <p class="card-text">Procura-se Diarista para limpeza semanal em condomínio de luxo .</p>
                                          <a href="#" class="card-link">Saber Mais</a>
                                        </div>
                                   </div>
                                   &nbsp;
                                <!--Card 04 linha 01-->
                               <div class="card" style="width: 18rem;">
                                    <div class="card-body">
                                      <h5 class="card-title">Recife</h5>
                                      <h6 class="card-subtitle mb-2 text-muted">Empregada Doméstica</h6>
                                      <p class="card-text">Procura-se Empregada Doméstica para limpeza diária em condomínio empresarial.</p>
                                      <a href="#" class="card-link">Saber Mais</a>
                                    </div>
                               </div>
                            </div>
                              <div class="card-columns d-flex justify-content-center">
                                 <!--Card 01 linha 02-->
                                 <div class="card" style="width: 18rem;">
                                        <div class="card-body">
                                          <h5 class="card-title">Pernambuco</h5>
                                          <h6 class="card-subtitle mb-2 text-muted">Diarista</h6>
                                          <p class="card-text">Procura-se Diarista para limpeza semanal em condomínio de luxo .</p>
                                          <a href="#" class="card-link">Saber Mais</a>
                                        </div>
                                   </div>
                                   &nbsp;
                                 <!--Card 02 linha 02-->
                                 <div class="card" style="width: 18rem;">
                                        <div class="card-body">
                                          <h5 class="card-title">São Paulo</h5>
                                          <h6 class="card-subtitle mb-2 text-muted">Empregada Doméstica</h6>
                                          <p class="card-text">Procura-se Empregada Doméstica para limpeza diária em condomínio empresarial.</p>
                                          <a href="#" class="card-link">Saber Mais</a>
                                        </div>
                                   </div>
                                   &nbsp;
                                 <!--Card 03 linha 02-->
                                 <div class="card" style="width: 18rem;">
                                        <div class="card-body">
                                          <h5 class="card-title">Rio de Janeiro</h5>
                                          <h6 class="card-subtitle mb-2 text-muted">Diarista</h6>
                                          <p class="card-text">Procura-se Diarista para limpeza semanal em condomínio de luxo .</p>
                                          <a href="#" class="card-link">Saber Mais</a>
                                        </div>
                                   </div>
                                   &nbsp;
                                 <!--Card 04 linha 02-->
                                 <div class="card" style="width: 18rem;">
                                        <div class="card-body">
                                          <h5 class="card-title">Minas Gerais</h5>
                                          <h6 class="card-subtitle mb-2 text-muted">Empregada Doméstica</h6>
                                          <p class="card-text">Procura-se Empregada Doméstica para limpeza diária em condomínio empresarial.</p>
                                          <a href="#" class="card-link">Saber Mais</a>
                                        </div>
                                   </div>
                            </div>
                            <br>
                            <br>
                          </div>
             </div>
        </div>
    </div>   
    
