


<div class="container">  
    <div class="row">
        <div class="col-md-12">
            <div class="tituloConteudoPaginas" id="tituloVagasCadastradas">
                <!--<h3>Profissionais Cadastrados</h3>-->
                <h3>{{titulo}}</h3>
            </div>
            <hr/>
            <form class="form-inline" id="formPesquisaCampos" [formGroup]="formulario" (ngSubmit)="pesquisar()">
                
                    <div class="form-row" id="camposFormPesquisa">                               
                            <div class="col-6" id="textoLabelPadrao">
                                <b>Nome</b>
                              <input type="text" class="form-control" id="campoNome"  formControlName="nomeVaga" name="nomeVaga" ngDefaultControl placeholder="Nome da Vaga">
                            </div>
                            <br>
                            <div class="col-6"  id="textoLabelPadrao">
                              <b>Sobrenome</b>
                              <input type="text" class="form-control" id="campoSobreNome"  formControlName="assunto" name="assunto" ngDefaultControl placeholder="Assunto da vaga">
                            </div>
                            <br>
                            <div class="col-3"  id="textoLabelPadrao" formControlName="estado" name="ddlEstado" ngDefaultControl>
                              <b>Estado</b>
                                <select class="form-control form-control-sm-3"  id="campoEstadoOportunidades" >
                                        <option *ngFor="let estado of estados" ngValue="estados.id">
                                            {{estado.nome}}
                                        </option>
                                </select>
                             </div>
                            <div class="col-3">
                              <b>Cidade</b>
                              <input type="text"  id="textoLabelPadrao" class="form-control" placeholder="Cidade" id="campoCidade" formControlName="cidade" name="cidade" ngDefaultControl>
                            </div>
                            <div class="col-3"  id="textoLabelPadrao" formControlName="residencia" name="sexo" ngDefaultControl>
                                    <b>Residência</b>
                                    <select class="form-control form-control-sm-3" id="campoResidenciaOportunidades" >
                                            <option *ngFor="let residencia of residencias" ngValue="residencia.id">
                                            {{residencia.nome}}
                                            </option>
                                    </select>
                            </div>
                            <div class="col-3" id="textoLabelPadrao" formControlName="experiencia" name="experiencia" ngDefaultControl>
                                <b>Experiência    </b>
                                <select class="form-control form-control-sm-3" id="campoExperienciaOportunidades" >
                                            <option *ngFor="let experiencia of experiencias ">
                                              {{experiencia.nome}}
                                            </option>

                                    </select>
                            </div>
                    </div>   
                      
                    <!--Botões limpar e pesquisar -->
                    <div class="botoesPesquisar">   
                            <button type="button" class="btn btn-secondary" id="btnLimparPesquisa" (click)="limparCampos()" >Limpar</button>
                            <button type="submit" class="btn btn-secondary" id="btnEnviarPesquisa">Pesquisar</button>
                   </div>
               </form>
             </div>
             <div>
                    <div class="container">
                            <div class="card-columns d-flex justify-content-center" >
                              <!--Card 01 linha 01-->
                              <div class="card" style="width: 18rem;" *ngFor="let vaga of vagas">
                                    <div class="card-body" >
                                      <h5 class="card-title" >
                                      {{vaga.titulo}}
                                    </h5>
                                      <h6 class="card-subtitle mb-2 text-muted">
                                          {{vaga.subtitulo}}
                                      </h6>
                                      <p class="card-text">
                                        {{vaga.descricao}}
                                      </p>
                                     <a href="#" class="card-link" data-toggle="modal" data-target="#modalVaga">Saber mais</a>
                                    </div>
                                  </div>  
                            </div>
                            <br>
                            <br>
                          </div>
                          
                          
             </div>
        </div>
    </div>   
    
    <!-- Modal para confirmar a EXCLUSÃO de funcionário-->
<div class="modal" tabindex="-1" role="dialog" id="modalVaga">
  <div class="modal-dialog" role="document">
    <div class="modal-content" id="modalBodyInfoExcluir">
      <div class="modal-header">
        <h5 class="modal-title">Vaga</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" >
          <label>Id:</label>
          {{vaga.id}}
          <br>
          <label>Título:</label>
          <br>
          <label>Subtítulo:</label>
          <br>          
          <label>Nome do Empregador:</label>
          <br>
          <label>Estado:</label>
          <br>
          <label>Cidade:</label>
          <br>
          <label>Descrição:</label>
          <br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Voltar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="confirmExcluir" (click)="Candidatar()">Candidate-se</button>
      </div>
    </div>
  </div>
