


<div class="container">  
    <div class="row">
        <div class="col-md-12">
            <div class="tituloConteudoPaginas" id="tituloVagasCadastradas">
                <!--<h3>Profissionais Cadastrados</h3>-->
                <h3>Vagas</h3>
                <hr/>
                <form class="form-inline" id="formPesquisaCampos" (ngSubmit)="pesquisar()">

                    <div class="form-row" id="camposFormPesquisa">                               
                            <div class="col-6">
                            <input type="text" class="form-control" id="campoIDVaga"  [(ngModel)]="vaga.id" name="id_vaga" ngDefaultControl placeholder="ID da vaga">
                            </div>
                            <br>
                            <div class="col-6">
                            <input type="text" class="form-control" id="campoNomeVaga"  [(ngModel)]="vaga.nome" name="nome" ngDefaultControl placeholder="Insira algo para pesquisar">
                            </div>
                            <br>
                            <div class="col-3">
                                <select class="form-control form-control-sm-3"  id="campoProfissaoo" >
                                        <option *ngFor="let profissao of profissoes" [ngValue]="profissao">{{profissao}}</option>
                                        
                                </select>
                            </div>
                            <div class="col-3">
                                    <select class="form-control form-control-sm-3" id="campoEstado" [(ngModel)]="vaga.estado" name="estado" ngDefaultControl>
                                            <option>Estado</option>
                                            <option>Rio de Janeiro</option>
                                            <option>São Paulo</option>
                                    </select>
                            </div>
                    </div>    
                    <!--Botões limpar e pesquisar -->
                    <div class="botoesPesquisar">   
                            <button type="submit" class="btn btn-secondary" id="btnLimparPesquisa" (click)="limparCampos()" >Limpar</button>
                            <button type="submit" class="btn btn-secondary" id="btnEnviarPesquisa">Pesquisar</button>
                    </div>
                 </form>
             </div>
        </div>
    </div>         
</div>   
    
