<div class="tituloConteudoPaginas">
        <!--  <h3>Pesquisar Profissionais</h3>  -->
          <h3>{{titulo}}</h3>                     
</div>
 <hr/>
 <div class="conteudoPageDetalhes">
   <div id="conteudoLabelsFuncInfo">
          <div>
              <label> <b>ID:</b> </label> &nbsp;  {{funcionarioInfo.id}}                           
          </div>
          <div>    
              <label><b> Nome:</b></label> {{funcionarioInfo.nome}}
          </div>
          <div>
              <label><b>Sobrenome:</b></label> {{funcionarioInfo.sobrenome}}
          </div> 
          <div>
              <label><b>Email:</b></label> {{funcionarioInfo.email}}
          </div>  
          <div>
              <label><b>Facebook:</b></label> {{funcionarioInfo.urlFacebook}}
          </div>
          <div>
              <label><b>Whatsapp::</b></label> {{funcionarioInfo.hasWhatsapp}}
          </div>
          <div>
              <label><b>Telefone::</b></label> {{funcionarioInfo.telefone}}
          </div>
          <div>
              <label><b>Profissão::</b></label> {{funcionarioInfo.profissao}}
          </div>
          <div>
              <label><b>Experiência::</b></label> {{funcionarioInfo.experiencia}}
          </div>
          <div>
              <label><b>CPF:</b></label> {{funcionarioInfo.cpf}}
          </div>
          <div>
              <label><b>Endereço:</b></label> {{funcionarioInfo.endereco}}
          </div>
          <div>
              <label><b>Complemento:</b></label> {{funcionarioInfo.complemento}}
          </div>
          <div>
              <label><b>Cidade:</b></label> {{funcionarioInfo.cidade}}
          </div>
          <div>
              <label><b>Estado:</b></label> {{funcionarioInfo.estado}}
          </div>
          <div>
              <label><b>CEP:</b></label> {{funcionarioInfo.cep}}
          </div>
          <div>
              <label><b>Avaliação:</b></label> {{funcionarioInfo.avaliacao}}
          </div>
          <div>
              <label><b>Sexo:</b></label> {{funcionarioInfo.sexo}}
          </div>
      </div>
  </div>

  <div class="grupoBotoesDetalhes">
         <button  class="btn btn-primary btn-sm" data-toggle="modal" data-target="#confirmExcluir" >Excluir </button>
         <button  class="btn btn-primary btn-sm" id="btnEditarDetalhes" data-toggle="modal" data-target="#editarFuncionario">Editar </button>
         <button  class="btn btn-primary btn-sm" [routerLink]="['/pesquisar']" id="btnVoltarDetalhes">Voltar </button><br>
    </div>
  <br>

<!-- Modal para confirmar a EXCLUSÃO de funcionário-->
<div class="modal" tabindex="-1" role="dialog" id="confirmExcluir">
        <div class="modal-dialog" role="document">
          <div class="modal-content" id="modalBodyInfoExcluir">
            <div class="modal-header">
              <h5 class="modal-title">Excluir Funcionário</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" >
                 <p>Tem certeza que deseja excluir esse funcionário?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Voltar</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal" id="confirmExcluir" (click)="excluir(funcionarioInfo)">Excluir</button>
            </div>
          </div>
        </div>
</div>

<!-- Modal para a EDIÇÂO de funcionário-->
<div class="modal" tabindex="-1" role="dialog" id="editarFuncionario">
        <div class="modal-dialog" role="document">
          <div class="modal-content" id="modalBodyInfoAtualizar">
            <div class="modal-header">
              <h5 class="modal-title">Atualizar Funcionário</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" >
                 <p>Tem certeza que deseja atualizar esse funcionário?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Voltar</button>
              <button type="button" class="btn btn-primary" (click)="atualizarFuncionario()">Editar</button>
            </div>
          </div>
        </div>
</div>
