
<div class="container">  
    <div class="row">
        <div class="col-md-12">
            <div class="conteudoPesquisa">
                <!--Título da página / formulário-->
                <div class="tituloConteudoPaginas">
                      <!--  <h3>Pesquisar Profissionais</h3>  -->
                        <h3>{{titulo}}</h3>                     
                </div>
                <hr/>
                <form class="form-inline" id="formPesquisaCampos" [formGroup]="formulario" (ngSubmit)="pesquisar()">
                    
                        <div class="form-row" id="camposFormPesquisa">                               
                                <div class="col-6">
                                  <input type="text" class="form-control" id="campoNomeVagas"  formControlName="nome" name="nome" ngDefaultControl placeholder="Nome">
                                  <p>(Insira entre 3 a 15 caracteres)</p>
                                </div>
                                <br>
                                <div class="col-6">
                                  <input type="text" class="form-control" id="campoSobreNomeVagas"  formControlName="sobrenome" name="sobrenome" ngDefaultControl placeholder="Sobrenome">
                                  <p>(Insira entre 3 a 40 caracteres)</p>
                                </div>
                                <br>
                                <div class="col-3" formControlName="estado" name="ddlEstado" ngDefaultControl>
                                    <select class="form-control form-control-sm-3"  id="campoEstadoVagas" >
                                            <option *ngFor="let estado of estados" ngValue="estados.id">
                                                {{estado.nome}}
                                            </option>
                                    </select>
                                 </div>
                                <div class="col-3">
                                  <input type="text" class="form-control" placeholder="Cidade" id="campoCidadeVagas" formControlName="cidade" name="cidade" ngDefaultControl>
                                  <p>(Insira até 15 caracteres)</p>
                                </div>
                                <div class="col-3" formControlName="sexo" name="sexo" ngDefaultControl>
                                        <select class="form-control form-control-sm-3" id="campoSexoVagas" >
                                                <option *ngFor="let sexo of sexos" ngValue="sexo.id">
                                                {{sexo.nome}}
                                                </option>
                                        </select>
                                </div>
                                <div class="col-3" formControlName="experiencia" name="experiencia" ngDefaultControl>
                                        <select class="form-control form-control-sm-3" id="campoExperienciaVagas" >
                                                <option *ngFor="let experiencia of experiencias" ngValue="experiencias.id">
                                                    {{experiencia.nome}}
                                                </option>
                                        </select>
                                </div>
                        </div>    
                        <!--Botões limpar e pesquisar -->
                        <div class="botoesPesquisar">   
                                <button type="button" class="btn btn-secondary" id="btnLimparPesquisa" (click)="limparCampos()" >Limpar</button>
                                <button type="submit" class="btn btn-secondary" id="btnEnviarPesquisa" [disabled]="formulario.invalid">Pesquisar</button>
                        </div>
                </form>
            
            <!-- Tabela de resultados da pesquisa-->
            <div class="tabelaProfissionais" >
                <table id="tabelaProfissionais">
                    <thead>
                    <tr style="background-color:lightgrey; color:gray;height:50px;">
                        <th scope="col"><strong>Nome</strong></th>
                        <th scope="col"><strong>Sobrenom</strong></th>
                        <th scope="col"><strong>Estado</strong></th>
                        <th scope="col"><strong>Cidade</strong></th>
                        <th scope="col"><strong>Sexo</strong></th>
                        <th scope="col"><strong>Experiência</strong></th>
                        <th scope="col"><strong>&nbsp;</strong></th>
                    </tr>
                    </thead>
                    <tbody >
                    <tr class="classTr" >
                     <!--
                    <tr class="classTr" *ngFor='let func of funcionarios'>                        
                                <td>{{func.nome}}</td>
                                <td>{{func.sobrenome}}</td>
                                <td>{{func.estado}}</td>
                                <td>{{func.cidade}}</td>   
                                <td>{{func.sexo}}</td>
                                <td>{{func.experiencia}}</td> 
                                <td>
                                    <button type="button" class="btn btn-outline-dark">info</button>
                                </td>  
                        -->        
                        <td>Maria</td>     
                        <td>Joaquina</td> 
                        <td>Rio de Janeiro</td> 
                        <td>Rio de Janeiro</td> 
                        <td>Feminino</td> 
                        <td>2 anos</td> 
                        <td>
                            <!--                            
                           <button type="button" class="btn btn-outline-dark"  (click)="infoFuncionario()">
                               info
                            </button>
                            -->
                           <a  id="btnInfoFuncionario" (click)="infoFuncionario()">  
                               <span class="badge badge-info">
                                   Info
                                </span>
                           </a>
                            
                                
                            
                        </td>                              
                    </tr>        
                    </tbody>
                </table> 
            </div>

                            

                      </div>
                </div>
             </div>

            <!-- PAginação-->
            <div class="form-row">
                <div class="form-group col-md-9">
                   <div class="col-md-6">
                        <div class="paginacaoProfissionais">
                                <div>
                                    <ul class="pagination pagination-sm">
                                    <li class="page-item disabled">
                                        <a class="page-link" [routerLink]="['/pesquisar']">&laquo;</a>
                                    </li>
                                    <li class="page-item active">
                                        <a class="page-link" [routerLink]="['/pesquisar']">1</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" [routerLink]="['/pesquisar']">2</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" [routerLink]="['/pesquisar']">3</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" [routerLink]="['/pesquisar']">4</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" [routerLink]="['/pesquisar']">5</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" [routerLink]="['/pesquisar']">&raquo;</a>
                                    </li>
                                    </ul>
                                </div>
                          </div>
                        </div>
                </div>   
                <div class="form-group col-md-3">
                   <div class="col-md-6" >                      
                        <a href="" id="btnVoltarFuncionarios">Voltar</a>
                    </div>                 
               </div>  
        </div>       
    </div>