
<div class="container">  
    <div class="row">
        <div class="col-md-12">
            <div class="conteudoPesquisa">
                <!--Título da página / formulário-->
                <div class="tituloConteudoPaginas">
                      <!--  <h3>Pesquisar Profissionais</h3>  -->
                        <h3>{{titulo}}</h3>                     
                </div>
                <hr/>
                <form class="form-inline" id="formPesquisaCampos" [formGroup]="formulario" (ngSubmit)="pesquisar()">
                    
                        <div class="form-row" id="camposFormPesquisa">                               
                                <div class="col-6">
                                  <input type="text" class="form-control" id="campoNome"  formControlName="nome" name="nome" ngDefaultControl placeholder="Nome">
                                </div>
                                <br>
                                <div class="col-6">
                                  <input type="text" class="form-control" id="campoSobreNome"  formControlName="sobrenome" name="sobrenome" ngDefaultControl placeholder="Sobrenome">
                                </div>
                                <br>
                                <div class="col-3" formControlName="estado" name="ddlEstado" ngDefaultControl>
                                    <select class="form-control form-control-sm-3"  id="campoEstado" >
                                            <option *ngFor="let estado of estados" ngValue="estados.id">
                                                {{estado.nome}}
                                            </option>
                                    </select>
                                 </div>
                                <div class="col-3">
                                  <input type="text" class="form-control" placeholder="Cidade" id="campoCidade" formControlName="cidade" name="cidade" ngDefaultControl>
                                </div>
                                <div class="col-3" formControlName="sexo" name="sexo" ngDefaultControl>
                                        <select class="form-control form-control-sm-3" id="campoSexo" >
                                                <option *ngFor="let sexo of sexos" ngValue="sexo.id">
                                                {{sexo.nome}}
                                                </option>
                                        </select>
                                </div>
                                <div class="col-3" formControlName="experiencia" name="experiencia" ngDefaultControl>
                                        <select class="form-control form-control-sm-3" id="campoExperiencia" >
                                                <option *ngFor="let experiencia of experiencias" ngValue="experiencias.id">
                                                    {{experiencia.nome}}
                                                </option>
                                        </select>
                                </div>
                        </div>    
                        <!--Botões limpar e pesquisar -->
                        <div class="botoesPesquisar">   
                                <button type="submit" class="btn btn-secondary" id="btnLimparPesquisa" (click)="limparCampos()" >Limpar</button>
                                <button type="submit" class="btn btn-secondary" id="btnEnviarPesquisa">Pesquisar</button>
                            </div>
                </form>
            </div>
            <!-- Tabela de resultados da pesquisa-->
            <div class="tabelaProfissionais" >
                <table id="tabelaProfissionais">
                    <thead>
                    <tr style="background-color:lightgrey; color:gray;height:50px;">
                        <th scope="col"><strong>Nome</strong></th>
                        <th scope="col"><strong>CPF</strong></th>
                        <th scope="col"><strong>Sexo</strong></th>
                        <th scope="col"><strong>Profissão</strong></th>
                        <th scope="col"><strong>Experiência</strong></th>
                        <th scope="col"><strong>Ranking</strong></th>
                        <th scope="col"><strong>Ações</strong></th>
                    </tr>
                    </thead>
                    <tbody >
                    <tr class="classTr"  *ngFor='let func of funcionarios'>
                                <td>{{func.nome}}</td>
                                <td>{{func.cpf}}</td>
                                <td>{{func.sexo}}</td>
                                <td>{{func.profissao}}</td>   
                                <td>{{func.experiencia}}</td>
                                <td>{{func.ranking}}</td> 
                                <td>Botão Info</td>                                             
                    </tr>        
                    </tbody>
                </table> 
            </div>
            <!-- PAginação-->
            <div class="form-row">
                <div class="form-group col-md-9">
                   <div class="col-md-6">
                        <div class="paginacaoProfissionais">
                                <div>
                                    <ul class="pagination pagination-sm">
                                    <li class="page-item disabled">
                                        <a class="page-link" [routerLink]="['/pesquisar']">&laquo;</a>
                                    </li>
                                    <li class="page-item active">
                                        <a class="page-link" [routerLink]="['/pesquisar']">1</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" [routerLink]="['/pesquisar']">2</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" [routerLink]="['/pesquisar']">3</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" [routerLink]="['/pesquisar']">4</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" [routerLink]="['/pesquisar']">5</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" [routerLink]="['/pesquisar']">&raquo;</a>
                                    </li>
                                    </ul>
                                </div>
                          </div>
                        </div>
                </div>   
                <div class="form-group col-md-3">
                   <div class="col-md-6" >                      
                        <a href="" id="btnVoltarFuncionarios">Voltar</a>
                    </div>                 
               </div>  
        </div>       
    </div>
</div>