  <div class="page-container">
     
     <div id="tituloHome">
       <h2>Home</h2>
     </div>
     <hr>
     <br>
      <div id="textoHomeEstilo">
        <p> Hoje em dia, a dificuldade em encontrar um emprego doméstico é grande no Brasil. E o problema não são 
            a falta de oportunidades, pois conforme dados estatísticos de 2019, as vagas de emprego doméstico 
            cresceu en 30%.</p>
        <p>Então porque é tão custoso encontrar um emprego na área?</p>
        <p>O único recurso para trabalhar na indicação é o famoso Q>I (quem indica).</p>     
        <p> Pessoas próximas indicam parentes ,amigos e conhecidos para tais vagas.</p>
          <p>Para solucionar esse problema e facilitar a conexão entre empregador e empregado, criamos o Maid Clean.</p>
          <p>Agora, utilizando-se de nossa plataforma você tem mais confiança em contratar e mais facilidades para 
          encontrar aquela vaa desejada.</p>
      </div>
  </div>

  <!--Imagem do parallax-->
<div class="hero home2 parallax">            
 </div>


 <div class="page-container">
   
    <br>
      <div id="textoHomeEstilo">
        <p> Hoje em dia, a dificuldade em encontrar um emprego doméstico é grande no Brasil. E o problema não são 
          a falta de oportunidades, pois conforme dados estatísticos de 2019, as vagas de emprego doméstico 
          cresceu en 30%.</p>
        <p>Então porque é tão custoso encontrar um emprego na área?</p>
        <p>O único recurso para trabalhar na indicação é o famoso Q>I (quem indica).</p>     
        <p> Pessoas próximas indicam parentes ,amigos e conhecidos para tais vagas.</p>
        <p>Para solucionar esse problema e facilitar a conexão entre empregador e empregado, criamos o Maid Clean.</p>
        <p>Agora, utilizando-se de nossa plataforma você tem mais confiança em contratar e mais facilidades para 
        encontrar aquela vaa desejada.</p>
      </div>
      <div id="conteudoBotoesHome">
        <button id="btnEntrarHome" type="button" class="btn btn-primary"  data-toggle="modal" data-target="#entrarLogin">Entrar</button>
        <button id="btnCadastrarHome" type="button" class="btn btn-primary" (click)="cadastrar()">Cadastre-se</button>
        <br><br>    
    </div>  
 </div>

 