<div class="tituloConteudoPaginas">
        <!--  <h3>Pesquisar Profissionais</h3>  -->
          <h3>{{titulo}}</h3>                     
</div>
 <hr/>
<form [formGroup]="formulario">
  <div class="conteudoPageDetalhes">
    <div id="conteudoLabelsFuncInfo">
            <div>
              <div class="form-row">
                  <label><b> ID:</b></label>
                  <input class="form-control" formControlName="nome" id="inputInfoFuncId" type="text" placeholder="{{usuarioInfo.id}}" >            
              </div>                          
            </div>
              <br>  
              <div class="form-row">
                <label><b> Nome:</b></label>
                <input class="form-control" formControlName="nome" id="inputPadraoInfoFunc3" type="text" placeholder="{{usuarioInfo.nome}}" >         
                &nbsp; <span class="badge badge-info" id="badgeAlterarFunc2"(click)="habilitarEdicao(usuarioInfo.nome)" >Alterar</span>
              </div>
            <br> 
              <div class="form-row">
                <label><b> sobrenome:</b></label>
                <input class="form-control" formControlName="sobrenome" id="inputInfoFunc" type="text" placeholder="{{usuarioInfo.sobrenome}}" >                           
                <span class="badge badge-info" id="badgeAlterarFunc" (click)="habilitarEdicao(usuarioInfo.sobrenome)">Alterar</span>
              </div>
            <br> 
              <div class="form-row">
                <label><b> Login:</b></label>
                <input class="form-control" formControlName="login" id="inputPadraoInfoFunc3" type="text" placeholder="{{usuarioInfo.login}}" >         
               </div>
            <br> 
              <div class="form-row">
                <label><b> Senha:</b></label>
                <input class="form-control" formControlName="senha" id="inputPadraoInfoFunc3" type="text" placeholder="{{usuarioInfo.senha}}" >                           
                <span class="badge badge-info" id="badgeAlterarFunc" (click)="habilitarEdicao(usuarioInfo.senha)">Alterar</span>
              </div>
           <br> 
              <div class="form-row">
                <label><b> Email:</b></label>
                <input class="form-control" formControlName="email" id="inputPadraoInfoFunc3" type="text" placeholder="{{usuarioInfo.email}}" >                           
                <span class="badge badge-info" id="badgeAlterarFunc" (click)="habilitarEdicao(usuarioInfo.email)">Alterar</span>
              </div>
            <br> 
              <div class="form-row">
                <label><b> Facebook:</b></label>
                <input class="form-control" formControlName="facebook" id="inputPadraoInfoFunc4" type="text" placeholder="{{usuarioInfo.urlFacebook}}" >                           
                <span class="badge badge-info" id="badgeAlterarFunc" (click)="habilitarEdicao(usuarioInfo.urlFacebook)">Alterar</span>
              </div>
            <br> 
              <div class="form-row">
                <label><b> Whatsapp:</b></label>
                <input class="form-control" formControlName="whatsapp" id="inputPadraoInfoFunc4" type="text" placeholder="{{usuarioInfo.hasWhatsapp}}" >                           
                <span class="badge badge-info" id="badgeAlterarFunc" (click)="habilitarEdicao(usuarioInfo.hasWhatsapp)">Alterar</span>
              </div>
            <br> 
            <div class="form-row">
                <label><b> Telefone:</b></label>
                <input class="form-control" formControlName="telefone" id="inputPadraoInfoFunc2" type="text" placeholder="{{usuarioInfo.telefone}}" >                           
                <span class="badge badge-info" id="badgeAlterarFunc" (click)="habilitarEdicao(usuarioInfo.telefone)">Alterar</span>
              </div>  
            <br> 
            <div class="form-row">
                <label><b>Profissão::</b></label> 
                <input class="form-control" formControlName="profissao" id="inputPadraoInfoFunc4" type="text" placeholder="{{usuarioInfo.profissao}}" >                           
                <span class="badge badge-info" id="badgeAlterarFunc" (click)="habilitarEdicao(usuarioInfo.profissao)">Alterar</span>
           </div>  
            <br> 
              <div class="form-row">
                <label><b>Experiência::</b></label> 
                <input class="form-control" formControlName="experiencia" id="inputInfoFunc" type="text" placeholder="{{usuarioInfo.experiencia}}" >                           
                <span class="badge badge-info" id="badgeAlterarFunc" (click)="habilitarEdicao(usuarioInfo.experiencia)">Alterar</span>
              </div>
            <br> 
              <div class="form-row">
                <label><b>CPF:</b></label> 
                <input class="form-control" formControlName="cpf_cnpj" id="inputInfoFuncCpf" type="text" placeholder="{{usuarioInfo.cpf_cnpj}}" >                           
                <span class="badge badge-info" id="badgeAlterarFunc" (click)="habilitarEdicao(usuarioInfo.cpf_cnpj)">Alterar</span>
              </div>
            <br> 
              <div class="form-row">
                <label><b>Endereço:</b></label> 
                <input class="form-control" formControlName="endereco" id="inputPadraoInfoFunc4" type="text" placeholder="{{usuarioInfo.endereco}}" >                           
                <span class="badge badge-info" id="badgeAlterarFunc" (click)="habilitarEdicao(usuarioInfo.endereco)">Alterar</span>
              </div>
            <br> 

              <div class="form-row">
                <label><b>Complemento:</b></label> 
                <input class="form-control" formControlName="complemento" id="inputInfoFuncComplemento" type="text" placeholder="{{usuarioInfo.complemento}}" >                           
                <span class="badge badge-info" id="badgeAlterarFunc" (click)="habilitarEdicao(funcionarioInfo.complemento)">Alterar</span>
              </div>
            <br> 
              <div class="form-row">
                <label><b>Cidade:</b></label> 
                <input class="form-control" formControlName="cidade" id="inputPadraoInfoFunc2" type="text" placeholder="{{usuarioInfo.cidade}}" >                           
                <span class="badge badge-info" id="badgeAlterarFunc" (click)="habilitarEdicao(usuarioInfo.cidade)">Alterar</span>
              </div>
            <br> 
            <div class="form-row">
                <label><b>Estado:</b></label> 
                <input class="form-control" formControlName="estado" id="inputPadraoInfoFunc2" type="text" placeholder="{{usuarioInfo.estado}}" >                           
                <span class="badge badge-info" id="badgeAlterarFunc" (click)="habilitarEdicao(usuarioInfo.estado)">Alterar</span>
              </div>
            <br> 
              <div class="form-row">
                <label><b>CEP:</b></label> 
                <input class="form-control" formControlName="cep" id="inputPadraoInfoFunc3" type="text" placeholder="{{usuarioInfo.cep}}" >                           
                <span class="badge badge-info" id="badgeAlterarFunc" (click)="habilitarEdicao(usuarioInfo.cep)">Alterar</span>
              </div>
            <br> 
              <div class="form-row">
                <label><b>Avaliação:</b></label> 
                <input class="form-control" formControlName="avaliacao" id="inputInfoFunc" type="text" placeholder="{{usuarioInfo.avaliacao}}" >                           
                <span class="badge badge-info" id="badgeAlterarFunc" (click)="habilitarEdicao(usuarioInfo.avaliacao)">Alterar</span>
              </div>
            <br> 
              <div class="form-row">
                <label><b>Sexo:</b></label> 
                <input class="form-control" formControlName="sexo" id="inputPadraoInfoFunc2" type="text" placeholder="{{usuarioInfo.sexo}}" >                           
                <span class="badge badge-info" id="badgeAlterarFunc" (click)="habilitarEdicao(usuarioInfo.sexo)">Alterar</span>
              </div>

            <br> 
            <br> 
            <br> 

      <div class="grupoBotoesDetalhes">
          <button  type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#confirmExcluir" >Excluir </button>         
          <button type="submit"  [disabled]="edicao" class="btn btn-primary btn-sm" id="btnEditarDetalhes" data-toggle="modal" data-target="#editarFuncionario" >Editar </button>
         <button type="button" class="btn btn-primary btn-sm" [routerLink]="['/pesquisar']" id="btnVoltarDetalhes">Voltar </button><br>
      </div>

    <br>
    <br>

  </div>
</div>
</form>

<!-- Modal para confirmar a EXCLUSÃO de funcionário-->
<div class="modal" tabindex="-1" role="dialog" id="confirmExcluir">
        <div class="modal-dialog" role="document">
          <div class="modal-content" id="modalBodyInfoExcluir">
            <div class="modal-header">
              <h5 class="modal-title">Excluir Funcionário</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" >
                 <p>Tem certeza que deseja excluir esse funcionário?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Voltar</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal" id="confirmExcluir" (click)="excluir(funcionarioInfo)">Excluir</button>
            </div>
          </div>
        </div>
</div>

<!-- Modal para a EDIÇÂO de funcionário-->
<div class="modal" tabindex="-1" role="dialog" id="editarFuncionario">
        <div class="modal-dialog" role="document">
          <div class="modal-content" id="modalBodyInfoAtualizar">
            <div class="modal-header">
              <h5 class="modal-title">Atualizar Funcionário</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" >
                 <p>Tem certeza que deseja atualizar esse funcionário?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Voltar</button>
              <button type="button" class="btn btn-primary"  (click)="atualizar()">Atualizar</button>
            </div>
          </div>
        </div>
</div>
