<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="tituloConteudoPaginas" id="tituloVagasCadastradas">
        <!--<h3>Profissionais Cadastrados</h3>-->
        <h3>{{titulo}}</h3>
      </div>
      <hr class="line3">
      <br>
      <form class="form-inline" id="formPesquisaCampos" [formGroup]="formulario" (ngSubmit)="pesquisarVaga()">

        <div class="form-row" id="camposFormOportunidades">
          <div class="col-6" id="textoLabelPadrao">
            <b>Título</b>
            <input type="text" class="form-control" id="campoTitulo" formControlName="titulo" name="titulo"
              ngDefaultControl placeholder="Título da Vaga">
          </div>
          <br>
          <div class="col-6" id="textoLabelPadrao">
            <b>Subtítulo</b>
            <input type="text" class="form-control" id="campoSubTitulo" formControlName="subtitulo" name="assunto"
              ngDefaultControl placeholder="Subtítulo da vaga">
          </div>
          <br>
         
          <div class="col-4" id="textoLabelPadrao">
            <b>Campo Vazio </b>
            <input type="text" id="textoLabelPadrao" class="form-control" placeholder="Campo vazio" id="campoNome"
              formControlName="nomeEmpregador" name="nome" ngDefaultControl>
          </div>
          
          <div class="col-4" id="textoLabelPadrao" formControlName="estado" name="ddlEstado" ngDefaultControl>
            <b>Estado</b>
            <select class="form-control form-control-sm-3" id="campoEstadoOportunidades"
            (change)="getCitiesWithIdState($event.target.value)">
              <option>Selecione</option>
              <option *ngFor="let estado of states" 
              [value]="estado.id_estado">
                {{estado.nome_estado}}
              </option>
            </select>
          </div>
          <div class="col-4" id="textoLabelPadrao">
            <b>Cidade</b>
            <select class="form-control form-control-sm-3" 
            formControlName="estado" name="ddlEstado" ngDefaultControl
            id="campoEstadoOportunidades">
              <option *ngFor="let cidade of cidades" [value]="cidade.id_cidade">
                {{cidade.nome_cidade}}
              </option>
            </select>
          </div>
        </div>

        <!--Botões limpar e pesquisar -->
        <div class="botoesPesquisarOportunidades">
          <button type="button" class="btn btn-secondary" id="btnLimparPesquisa"
            (click)="limparCampos()">Limpar</button>
          <button type="submit" class="btn btn-secondary" id="btnEnviarPesquisa" >Pesquisar</button>
        </div>
      </form>
    </div>
    <div>
      <br />
      <!--<div class="container">-->
      <div class="row" id="conteudoGridsOportunidade">
        <!--Cards sendo iterados-->
        <div class="col-4 card" style="width: 18rem;" *ngFor="let vaga of pageOfItems">
          <div class="card-body">
            <p class="card-text">
              <label class="conteudoGridVaga"> ID Vaga: {{vaga.id}}</label>
            </p>
            <h5 class="card-title">
              <label class="conteudoGridVaga">{{vaga.titulo}}</label>
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">
              <label class="conteudoGridVaga"> {{vaga.subtitulo}} </label>
            </h6>
            <p class="card-text">
              <label class="conteudoGridVaga"> {{vaga.descricao}}</label>
            </p>
            <p class="card-text">
                {{vaga.estado}} - {{vaga.cidade}}
            </p>
            
            <a class="card-link" id="saberMaisOportunidades" (click)="oportunidadeInfo(vaga)">
              <label class="saberMaisOportunidades">Saber mais</label>
            </a>
            <br>
          </div>
        </div>
      </div>

      <br>
      <br>

      <div class="paginacaoVagas">
        <jw-pagination [items]="vagas" (changePage)="onChangePage($event)"></jw-pagination>
     </div>

    </div>
  </div>
</div>
<br>