<div class="tituloConteudoPaginas" id="tituloInfoOportunidade">
    <h3>{{titulo}}</h3>
</div>
<hr class="line3">
<div class="contentInfoOportunity">
    <div>
        <label class="labelVagaModal">Id Vaga:</label>
        <label class="conteudoInfoVagaModal conteudoInputInfoOport">{{vaga.id}}</label>
    </div>
    &nbsp;
    <div>
        <label class="labelVagaModal">Título:</label>
        <label class="conteudoInfoVagaModal conteudoInputInfoOport">{{vaga.titulo}}</label>
    </div>
    <br>

    <div>
        <label class="labelVagaModal">Subtítulo:</label>
        <label class="conteudoInfoVagaModal conteudoInputInfoOport">{{vaga.subtitulo}}</label>
    </div>
    &nbsp;
    <div>
        <label class="labelVagaModal">Id Empregador:</label>
        <label class="conteudoInfoVagaModal conteudoInputInfoOport">{{vaga.idEmpregador}}</label>
    </div>
    &nbsp;
    <div>
        <label class="labelVagaModal">Nome do Empregador:</label>
        <label class="conteudoInfoVagaModal conteudoInputInfoOport">{{vaga.nomeEmpregador}}</label>
    </div>
    <br>
    <div>
        <label class="labelVagaModal">Estado:</label>
        <label class="conteudoInfoVagaModal conteudoInputInfoOport">{{vaga.estado}}</label>
    </div>
    &nbsp;
    <div>
        <label class="labelVagaModal">Cidade:</label>
        <label class="conteudoInfoVagaModal conteudoInputInfoOport">{{vaga.cidade}}</label>
    </div>
    <br>
    <div>
        <label class="labelVagaModal">Descrição:</label>
        <label class="conteudoInfoVagaModal conteudoInputInfoOport">{{vaga.descricao}}</label>
    </div>
    <br>
    <div>
        <label class="labelVagaModal">Telefone:</label>
        <label class="conteudoInfoVagaModal conteudoInputInfoOport">{{vaga.telefone}}</label>
    </div>
    <br>
</div>

<div class="modal-footer">
    <div id="botoesOportunidadeModal">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"
            [routerLink]="['/oportunidades']">Voltar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="confirmCandidatura"
            (click)="Candidatar()">Candidate-se</button>
         <button type="button" class="btn btn-primary" data-dismiss="modal" id="enviaMsgChat"
            (click)="enviaMsgChat()">Envie uma mensagem</button>    
    </div>
</div>

<!--Google Maps-->
<div class="googleMapsOportunidades">
    <h4>Localidade: {{vaga.nomeEmpregador}}</h4>
    <agm-map [latitude]="lat" [zoom]="zoom" [longitude]="lng">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>
</div>
<br>
<div class="chatMessageWindowOportunity" *ngIf="chatActivated">
    <app-chat-message-oportunity></app-chat-message-oportunity>
</div>
<br>
<br>